
// variables
$_padding: 10px 15px;

.todos {
    .todo-input {
        display: block;
        width: 100%;
        padding: $_padding;
        appearance: none;
        background-color: #f3f3f3;
        margin-top: 15px;
        font-size: 20px;
        outline: none;
        border: none;
    }
    
    .todo-submit {
        display: block;
        width: 100%;
        max-width: 200px;
        appearance: none;
        border: none;
        outline: none;
        background: none;

        background-color: #fe4880;
        color: #fff;
        margin: 15px auto;

        padding: $_padding;
        font-size: 18px;
        font-weight: 700;
    }
}
