<div class="todos"> 

    <form (ngSubmit)="addTodo()"  >
        <input type="text" name="inputTodo" placeholder="Enter todo ..." 
                class="todo-input" [(ngModel)]="inputTodo" >
        <input type="submit" value="Add Todo" class="todo-submit">
    </form>

</div>
<section class="to-display-content" > 
    <app-todo-item 
        [todoItems]="todos" 
        (onModified)="setTodoContent($event)"  
        (onDelete)="setTodos($event)" >
    </app-todo-item>

    <span class="message" [ngStyle]="{display: someThingToDo ? 'none' : 'flex'}">
        {{  someThingToDo }} --
        You have always notging to do !
    </span>
</section>