
// variables
$_padding: 10px 15px;

.todo {
    display: flex;
    align-items: center;
    padding: $_padding;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    .id {
        flex: 1 1 50px;
    }
    .content {
        flex: 1 1 100%;
    }
    .delete {
        border: none;
        border-radius: 5px;
        padding:.3em;
        background-color: #f1334363;
        font-weight: bold;
        color: #fff
    }
}
.todo.done {
    .content {
        text-decoration: line-through;
    }
}

.todo:nth-child(even) {
    background-color: #eee;
}
.todo:last-of-type {
    border-bottom: 0;
}
