/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

body {
    
    background-color: rgba(51, 138, 51, 0.37);
}

header {
    display: block;  
} 
  